[submodule "vimfiles/bundle/NERDCommenter"]
	path = vimfiles/bundle/NERDCommenter
	url = http://github.com/scrooloose/nerdcommenter.git
[submodule "vimfiles/bundle/SuperTab"]
	path = vimfiles/bundle/SuperTab
	url = http://github.com/ervandew/supertab.git
[submodule "vimfiles/bundle/Gundo"]
	path = vimfiles/bundle/Gundo
	url = git://github.com/sjl/gundo.vim.git
	ignore = untracked
[submodule "vimfiles/bundle/fugitive"]
	path = vimfiles/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vimfiles/bundle/TwitVim"]
	path = vimfiles/bundle/TwitVim
	url = git://github.com/vim-scripts/TwitVim.git
	ignore = untracked
[submodule "vimfiles/bundle/vim-surround"]
	path = vimfiles/bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
	ignore = untracked
[submodule "vimfiles/bundle/minibufexpl"]
	path = vimfiles/bundle/minibufexpl
	url = git://github.com/fholgado/minibufexpl.vim.git
[submodule "vimfiles/bundle/ctrlp"]
	path = vimfiles/bundle/ctrlp
	url = git://github.com/kien/ctrlp.vim.git
	ignore = untracked
[submodule "vimfiles/bundle/vim-colors-solarized"]
	path = vimfiles/bundle/vim-colors-solarized
	url = http://github.com/altercation/vim-colors-solarized.git
	ignore = untracked
[submodule "vimfiles/bundle/vim-orgmode"]
	path = vimfiles/bundle/vim-orgmode
	url = https://github.com/jceb/vim-orgmode.git
[submodule "vimfiles/bundle/clang_complete"]
	path = vimfiles/bundle/clang_complete
	url = git://github.com/Rip-Rip/clang_complete.git
[submodule "vimfiles/bundle/ack"]
	path = vimfiles/bundle/ack
	url = git://github.com/mileszs/ack.vim.git
[submodule "vimfiles/bundle/NrrwRgn"]
	path = vimfiles/bundle/NrrwRgn
	url = git://github.com/chrisbra/NrrwRgn.git
	ignore = untracked
