@media (max-width: 700px) {
  html body nav[role="progress"] ul.progressbar li {
    float: left;
  }
/* Overrides for older version of Inweb
  html body nav[role="navigation"] {
    position: static;
  }
  main p.commentary {
    width: 100%;
  }
  html body main {
    margin: 0;
    min-width: auto;
  }
  main div.breadcrumbs {
    position: static;
  }
  body nav[role="progress"] {
    position: static;
  }
*/
}
